@font-face {
    font-family: 'Dirtyline 36Daysoftype 2022';
    src: url('Dirtyline36Daysoftype2022-Reg.eot');
    src: url('Dirtyline36Daysoftype2022-Reg.eot?#iefix') format('embedded-opentype'),
        url('Dirtyline36Daysoftype2022-Reg.woff2') format('woff2'),
        url('Dirtyline36Daysoftype2022-Reg.woff') format('woff'),
        url('Dirtyline36Daysoftype2022-Reg.svg#Dirtyline36Daysoftype2022-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

